@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;

  /* Gör att nästa innehåll kan överlappa */
  padding: 20px;
}

button {
  background-color: #F28585;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

main {
  background: linear-gradient(99deg, #F2C6C2, transparent);
  position: relative;
  z-index: 20;
  top: 450px;
}

body {

  background-position: 0in;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  overflow: scroll;
  word-wrap: break-word;
  min-height: 100vh;
  position: relative;
  padding-bottom: 58px;
}

h2 {
  font-family: Caveat;
  color: #333;
}

p {
  font-family: cursive;
  color: darkslategray;
  margin-top: 0;
  margin-bottom: 1rem;
}

.about-mee h2 {
  font-size: 60px;
  font-weight: bold;
}


/* Customize links and buttons */
a,
.btn {
  color: var(--primary-color);
}

/* Add hover effects to links and buttons */
a:hover,
.btn:hover {
  color: var(--secondary-color);
}

.skills-container {
  display: flex;
  align-items: center;
  /* Center the skills vertically */
}

.skills-item {
  margin-right: 20px;
  /* Add some spacing between skill items */
}

.contact-link {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.contact-link i {
  margin-right: 10px;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-5 {
  position: relative;
  max-width: 50%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-5::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: auto;
  margin-left: -3px;
}

/* Container around content */
.timeline-5 {
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.timeline-5::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  right: 1px;
  background-color: #fff;
  top: 18px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right-5 {
  padding: 0px 0px 20px 40px;
  left: auto;
}

/* Add arrows to the right container (pointing left) */
.right-5::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-5::after {
  left: -10px;
}

@media (max-width: 991px) {
  .main-timeline-5 {
    max-width: 100%;
  }
}